/* color schemes */
.default {
    --background: #1C1E21;
    --font-color: white;
    --contrast-color: #C9D11C;
    --button-text: #1C1E21;
    --drpdwn-hover-button: #AFAF19;
    --rgba-contrast: rgba(201,209,28,0.3);
}

.yellow {
    --background: #fcc436;
    --font-color: white;
    --contrast-color: #6807f9;
    --button-text: white;
    --drpdwn-hover-button: #5206c9;
    --rgba-contrast: rgba(104,7,249,0.3);
}

.blue {
    --background: #0fa8dd;
    --font-color: white;
    --contrast-color: #0c3457;
    --button-text: white;
    --drpdwn-hover-button: #0f2131;
    --rgba-contrast: #0c3457;
}

body {
    background: var(--background);
    background-size: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

header {
    display: inline-flex;
    width: 96vw;
    margin: 1rem;
    justify-content: flex-end;
}

form {
    box-shadow: 4px 3px 11px 5px rgba(0,0,0,0.4);
    margin-right: 2rem;
}

main {
    width: 68vw;
    margin: 12rem auto;
}

.heading-container {display: block;}

.heading-container h2 {
    font-size: 4rem;
    text-align: end;
    margin-block-end: 0.5rem;
}

.heading-container h3 {
    font-size: 2.5rem;
    text-align: end;
    margin-block-start: 0;
}

#currentDate, #currentTime {color: var(--contrast-color)}

table {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    border-collapse: collapse;
}

.break {
    width: 1rem;
    height: 0.1rem;
    color: var(--font-color);
    display: flex;
    align-items: center;
    background-color: white;
}

th, td {
    border-bottom: 1px solid var(--rgba-contrast);
    height: 3rem;
    color: var(--contrast-color);
}

td:nth-child(1) {min-width: 5rem;}
td:nth-child(2) {min-width: 3rem;}

/* header menu */
input, .dropDownByButton {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
}

input {margin-left: -5px;}

#changeTitle {
    background: #d3d3d3;
    -webkit-transition: background 0.6s ease-in-out;
    -moz-transition: background 0.6s ease-in-out;
    -o-transition: background 0.6s ease-in-out;
    transition: background 0.6s ease-in-out;
}

#changeTitle:hover{
    background: white;
}

#submit, .dropDownByButton {
    background: var(--contrast-color);
    color: var(--button-text);
    font-weight: 600;
}

#submit, .dropDownByButton:hover {cursor: pointer}

/* dropdown button */
.dropDown {
    max-width: 13rem;
    min-width: 13rem;
    box-shadow: 4px 3px 11px 5px rgba(0,0,0,0.4);
}
.dropDownByButton, .dropDown-content {
    max-width: inherit;
    min-width: inherit;
}

.dropDown-content {
    display: none;
    position: absolute;
    background-color: var(--contrast-color);
    box-shadow: 4px 3px 11px 5px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropDown-content div {
    color: var(--button-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDown:hover .dropDown-content {display: block; cursor: pointer;}
.dropDown-content div:hover {background-color: var(--drpdwn-hover-button);}
#submit:hover, .dropDown:hover .dropDownByButton {background-color: var(--drpdwn-hover-button);}

.weather {
    width: 26rem;
    text-align: end;
}

.weather-content {
    display: inline-flex;
    width: 56%;
    justify-content: space-between;
}

.weather > h3 {
    text-align: right;
    font-size: 2rem;
    color: var(--contrast-color);
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.5rem;
}

#temperature, #humidity, #conditions {color: var(--contrast-color)}

.main-content {
    display: flex;
    width: 100%;
}

/*  -------- media queries */
@media screen and (max-width: 1080px) {
    main {
        width: 77vw;
        margin: 7rem auto;
    }

    aside {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .weather {width: 15.5rem;}
    .weather-content {width: 100%;}
    .main-content {display: block;}
}

@media (max-width: 770px) {main {margin: 3rem auto;}}

@media (max-width: 640px) {
    .heading-container h2 {font-size: 2rem;}
    .heading-container h3 {font-size: 1.5rem;}

    .weather {width: 13rem;}
    .weather > h3 {font-size: 1.7rem;}
    p {font-size: 1.4rem;}

    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "input" "dropdown";
        grid-row-gap: 1rem;
    }

    form {
        grid-area: input;
        justify-self: end;
    }

    .dropDown {
        grid-area: dropdown;
        justify-self: end;
        padding: 0 2rem;
    }

    main {margin: 4rem auto;}
    .heading-container {padding-bottom: 2rem;}
}

@media (max-width: 440px) {table {font-size: 1rem;}}
@media (max-width: 320px) {#changeTitle {width: 9.5rem;}}